In [5]:
# displaying all prints in one frame
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Challenge 01: Aktienkurse visualisieren

Heute sind wir in der Finanzwelt und werden Aktienkurse visualisieren. Als Data Analyst und Data Scientist ist es sehr wichtig mit aussagekräftigen, vereinfachten Visualisierungen deine Handlungsempfehlungen zu bestärken und zu erklären. 

Diese Challenge besteht aus 4 Untereinheiten. Dabei lernen wir das Laden von Paketen, Datenimport und Datenwrangling und der Visualisierung. Viel Erfolg!

### 01-00: Pakete laden
pandas ist ein gängiges Paket, wenn man Daten analysieren möchte. Wir wollen pandas als pd abkürzen. Gib dazu folgendes ein:

import pandas as pd

In [13]:
import pandas as pd

# Using matplotlib backend
# %matplotlib inline

import matplotlib.pyplot as plt

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy c-extensions failed.
- Try uninstalling and reinstalling numpy.
- If you have already done that, then:
  1. Check that you expected to use Python3.7 from "C:\ProgramData\Anaconda3\python.exe",
     and that you have no directories in your PATH or PYTHONPATH that can
     interfere with the Python and numpy version "1.18.1" you're trying to use.
  2. If (1) looks fine, you can open a new issue at
     https://github.com/numpy/numpy/issues.  Please include details on:
     - how you installed Python
     - how you installed numpy
     - your operating system
     - whether or not you have multiple versions of Python installed
     - if you built from source, your compiler versions and ideally a build log

- If you're working with a numpy git repository, try `git clean -xdf`
  (removes all files not under version control) and rebuild numpy.

Note: this error has many possible causes, so please don't comment on
an existing issue about this - open a new one instead.

Original error was: DLL load failed: Das angegebene Modul wurde nicht gefunden.

### 01-01: Data Import

Um die Daten zu bekommen, gehe auf den folgenden Link und lade sie in unser Ordner. Falls du den Link nicht siehst, maximiere dein Fenster und schau rechts oberhalb der Tabelle nochmal genauer.

http://www.nasdaq.com/symbol/fb/historical 

Diese Tabelle ist als csv-Datei abgelagert. Dieser Dateiformat wird gern genutzt, da sie wenig Speicherplatz braucht. csv steht für comma separated values. Die Werte sollten also mit Kommas separiert sein. Das ist nicht immer so. Manchmal sind es auch Tabs oder Semikolons.

Um deine Tabelle in Python zu laden und in die Variable ‘data’ zu speichern, nutze folgende Funktion:
pd.read_csv("[Dateiname.csv]")

In [193]:
df = pd.read_csv("HistoricalQuotes.csv")

### 01-02: Data Wrangling
Eine erste Übersicht bekommst du mit dear Funktion head() und dtypes. head() zeigt dir den Inhalt der ersten 5 Zeilen an, um zu schauen, ob der Import auch funktioniert hat. dtypes zeigt dir an, welche Spalte als Zahl (int64) oder String (object) erkannt wird.

In [196]:
df.head()
df.dtypes

         Date  Close/Last    Volume       Open      High       Low
0  12/16/2020     $275.67  15885000    $274.76   $277.86   $272.51
1  12/15/2020     $275.55  23979460    $274.83   $276.08   $267.47
2  12/14/2020     $274.19  16376880   $273.372   $277.22   $271.56
3  12/11/2020     $273.55  14391400    $274.53   $276.48   $270.25
4  12/10/2020     $277.12  20065090   $275.535   $278.73   $271.86

Date           object
 Close/Last    object
 Volume         int64
 Open          object
 High          object
 Low           object
dtype: object

In [238]:
## change column names
df.columns
df.columns = ["Date", "Close", "Volumen", "Open", "High", "Low"]

## remove dollar signs $
# df = df.replace("\$","", regex=True)
df.iloc[:, 1:6] = df.iloc[:, 1:6].replace("\$","", regex=True).astype(float)
# df.iloc[:,1:6] = df.iloc[:,1:6].astype(float)
# df["Open"]

df.head()
df.dtypes
# df.describe()

Index(['Date', 'Close', 'Volumen', 'Open', 'High', 'Low'], dtype='object')

         Date   Close     Volumen     Open    High     Low
0  12/16/2020  275.67  15885000.0  274.760  277.86  272.51
1  12/15/2020  275.55  23979460.0  274.830  276.08  267.47
2  12/14/2020  274.19  16376880.0  273.372  277.22  271.56
3  12/11/2020  273.55  14391400.0  274.530  276.48  270.25
4  12/10/2020  277.12  20065090.0  275.535  278.73  271.86

Date        object
Close      float64
Volumen    float64
Open       float64
High       float64
Low        float64
dtype: object

In [135]:
# range(1,30)

        Close/Last        Volume        Open        High         Low
count    21.000000  2.100000e+01   21.000000   21.000000   21.000000
mean    277.330000  1.594065e+07  277.127714  280.353481  273.329286
std       5.218604  4.469399e+06    5.031425    5.868307    4.883843
min     268.430000  7.808426e+06  268.490000  270.947100  264.530000
25%     274.190000  1.292169e+07  274.520000  277.220000  270.250000
50%     276.920000  1.588500e+07  276.030000  277.860000  271.860000
75%     279.700000  1.812241e+07  279.190000  286.427200  278.200000
max     287.520000  2.518971e+07  286.250000  291.780000  281.550000