In [120]:
# displaying all prints in one frame
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Using matplotlib backend
%matplotlib

Using matplotlib backend: Qt5Agg

# Challenge 01: Aktienkurse visualisieren

Heute sind wir in der Finanzwelt und werden Aktienkurse visualisieren. Als Data Analyst und Data Scientist ist es sehr wichtig mit aussagekräftigen, vereinfachten Visualisierungen deine Handlungsempfehlungen zu bestärken und zu erklären. 

Diese Challenge besteht aus 4 Untereinheiten. Dabei lernen wir das Laden von Paketen, Datenimport und Datenwrangling und der Visualisierung. Viel Erfolg!

### 01-00: Pakete laden
pandas ist ein gängiges Paket, wenn man Daten analysieren möchte. Wir wollen pandas als pd abkürzen. Gib dazu folgendes ein:

import pandas as pd
import matplotlib.pyplot as plt

In [121]:
import pandas as pd

### 01-01: Data Import

Um die Daten zu bekommen, gehe auf den folgenden Link und lade sie in unser Ordner. Falls du den Link nicht siehst, maximiere dein Fenster und schau rechts oberhalb der Tabelle nochmal genauer.

http://www.nasdaq.com/symbol/fb/historical 

Diese Tabelle ist als csv-Datei abgelagert. Dieser Dateiformat wird gern genutzt, da sie wenig Speicherplatz braucht. csv steht für comma separated values. Die Werte sollten also mit Kommas separiert sein. Das ist nicht immer so. Manchmal sind es auch Tabs oder Semikolons.

Um deine Tabelle in Python zu laden und in die Variable ‘data’ zu speichern, nutze folgende Funktion:
pd.read_csv("[Dateiname.csv]")

In [11]:
data = pd.read_csv("HistoricalQuotes.csv")

         Date  Close/Last    Volume       Open      High       Low
0  12/16/2020     $275.67  15885000    $274.76   $277.86   $272.51
1  12/15/2020     $275.55  23979460    $274.83   $276.08   $267.47
2  12/14/2020     $274.19  16376880   $273.372   $277.22   $271.56
3  12/11/2020     $273.55  14391400    $274.53   $276.48   $270.25
4  12/10/2020     $277.12  20065090   $275.535   $278.73   $271.86

Date           object
 Close/Last    object
 Volume         int64
 Open          object
 High          object
 Low           object
dtype: object

### 01-02: Data Wrangling
Eine erste Übersicht bekommst du mit dear Funktion head() und dtypes. head() zeigt dir den Inhalt der ersten 5 Zeilen an, um zu schauen, ob der Import auch funktioniert hat. dtypes zeigt dir an, welche Spalte als Zahl (int64) oder String (object) erkannt wird.

In [114]:
data.head()
data.dtypes

         Date   Close/Last      Volume     Open    High     Low
0  12/16/2020       275.67  15885000.0  274.760  277.86  272.51
1  12/15/2020       275.55  23979460.0  274.830  276.08  267.47
2  12/14/2020       274.19  16376880.0  273.372  277.22  271.56
3  12/11/2020       273.55  14391400.0  274.530  276.48  270.25
4  12/10/2020       277.12  20065090.0  275.535  278.73  271.86

Date            object
 Close/Last    float64
 Volume        float64
 Open          float64
 High          float64
 Low           float64
dtype: object

In [134]:
data.iloc[:,1:6] = data.iloc[:,1:6].replace("\$","").astype(float)
# data.iloc[:,1:6].astype(float)
data.head()
data.dtypes
data.describe()

         Date   Close/Last      Volume     Open    High     Low
0  12/16/2020       275.67  15885000.0  274.760  277.86  272.51
1  12/15/2020       275.55  23979460.0  274.830  276.08  267.47
2  12/14/2020       274.19  16376880.0  273.372  277.22  271.56
3  12/11/2020       273.55  14391400.0  274.530  276.48  270.25
4  12/10/2020       277.12  20065090.0  275.535  278.73  271.86

Date            object
 Close/Last    float64
 Volume        float64
 Open          float64
 High          float64
 Low           float64
dtype: object

        Close/Last        Volume        Open        High         Low
count    21.000000  2.100000e+01   21.000000   21.000000   21.000000
mean    277.330000  1.594065e+07  277.127714  280.353481  273.329286
std       5.218604  4.469399e+06    5.031425    5.868307    4.883843
min     268.430000  7.808426e+06  268.490000  270.947100  264.530000
25%     274.190000  1.292169e+07  274.520000  277.220000  270.250000
50%     276.920000  1.588500e+07  276.030000  277.860000  271.860000
75%     279.700000  1.812241e+07  279.190000  286.427200  278.200000
max     287.520000  2.518971e+07  286.250000  291.780000  281.550000

In [135]:
# range(1,30)

        Close/Last        Volume        Open        High         Low
count    21.000000  2.100000e+01   21.000000   21.000000   21.000000
mean    277.330000  1.594065e+07  277.127714  280.353481  273.329286
std       5.218604  4.469399e+06    5.031425    5.868307    4.883843
min     268.430000  7.808426e+06  268.490000  270.947100  264.530000
25%     274.190000  1.292169e+07  274.520000  277.220000  270.250000
50%     276.920000  1.588500e+07  276.030000  277.860000  271.860000
75%     279.700000  1.812241e+07  279.190000  286.427200  278.200000
max     287.520000  2.518971e+07  286.250000  291.780000  281.550000